$primaryDark: #000000;
$lightDark: #818285;
$primaryOrange: rgb(241, 111, 35);
$lightOrange: rgba(241, 111, 35, 0.8);
$primaryGray: hsla(225, 2%, 51%, 0.75);
$lightGray: #E5E5E5;
$primaryWhite: #ffffff;

// Fonts size
$font-md: 1.125rem; //18px
$font-sm: 0.875rem; //14px
